body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.about_balk {
    text-align: center;
    font-size: 2.5em;
    color: white;
    background-color: black;
    position: relative;
    left: 0;
    right: 0;
    top: 60em;
    height: 5em;
    align-items: center;
}

.about_balk span {
    font-size: 0.5em;
    text-decoration: underline;
}

.about_balk a {
    color: inherit;
    text-decoration: none;
}

.title {
    padding: 0.3em;
    font-size: 10.9em;
    position: relative;
    right: 0;
}

.homeWatch {
    position: relative;
    top: -59em;
    left: 18em;
    height: 62.5em;
    /* rotate: 45deg; */
}

/* Flexbox home page */
.bannerDress {
    opacity: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 125px;
    height: 100px;
    width: 100%;
    align-items: center;
}

.title span {
    color: grey;
}

.flex_dress {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: 3px solid black; */
}

.dress {
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 25em;
}

.diver {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: -70em;
}

.fav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 0em;
}

.text {
    text-align: center;
    font-size: 1em;
    width: 20em;
    border: 3px;
}

.button_main {
    width: 10em;
    text-align: center;
    border: 0.3em solid black;
    color: black;
}

.main_img {
    /* border: 3px solid blue; */
    height: 36em;
    width: 35em;
}

.iwc_img {
    height: 45em;
    width: 35em;
}

.rolex_img {
    height: 40em;
    width: 27em;
}

.titleDress {
    color: rgb(190, 190, 190);
    text-shadow: -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px -1.5px 0 #000;
    text-align: center;
    font-size: 5em;
    width: 5em;
    font-style: italic;
}

.button_main:hover {
    box-shadow: 0 0 25px 0 black;
    transition: 0.5s;
    color: white;
    background-color: black;
    animation: 3s linear 0s infinite running scale;
}

.info .white_box h2 {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 4.2em;
}

.info .white_box {
    border: 10px solid black;
    align-items: center;
    left: 25%;
    right: 25%;
    background-color: rgb(255, 255, 255);
    height: 18.75em;
    top: 71.875em;
    position: absolute;

}

.info .info_bg {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 62.5em;
    height: 37.5em;
}


footer {
    height: 20em;
    background-color: blue;
    text-align: center;
    padding: 3px;
    color: white;
}

/* Header */
header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 5px;
    right: 5px;
    top: 5px;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 2;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header a {
    font-size: 20px;
}

header a:hover {
    color: grey;
}

/* IWC  */

.watch1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40em;
    position: relative;
    top: 5em;
    /* border: 3px solid black; */
    /* left: 50em; */
    /* animation: 3s linear 0s infinite running myRotate; */
}

.watch2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    top: 15em;
    /* border: 3px solid black; */
}

.watch3 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 25em;
    /* border: 3px solid black; */
}

.watch4 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    top: 35em;
    /* border: 3px solid black; */
}

.watch5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 45em;
}

.watch6 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    top: 55em;
}

.watch_p {
    font-size: 1.5em;
    border: 0.5em outset;
    list-style: none;
    padding: 0;
}


.watch_h2 {
    width: 5em;
    font-size: 3em;
    font-style: italic;
}

.watch_img {
    width: 40em;
    height: 40em;
}

/* Buttons voor Omega watches */
a {
    text-decoration: none;
    color: inherit;
}

.pic_button {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    text-align: center;
    color: black;
    left: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 0;
    border: 0.3125em solid black;
    height: 3.125em;
    width: 9.375em;
}

.pic_button:hover {
    box-shadow: 0 0 25px 0 black;
    transition: 0.5s;
    color: white;
    background-color: black;
    animation: 3s linear 0s infinite running scale;
}

.flex {
    display: flex;
    flex-direction: column-reverse;
}

/* About us */
.flex-container-about-us {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.animate_watch {
    width: 25em;
    animation: rotation 60s infinite linear;
    /* border: 3px solid black; */
}

.aboutme_text {
    font-style: italic;
    font-size: 1.5em;
    width: 30em;
}

.sort {
    color: rgb(190, 190, 190);
    text-shadow: -1.5px 1.5px 0 #000,
        1.5px 1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px -1.5px 0 #000;
    display: flex;
    justify-content: center;
    padding-top: 0.5em;
    font-size: 5em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CSS Animations */
@keyframes scale {
    50% {
        transform: scale(0.9, 0.9);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* Omega speedmaster page */
.flex-container-speedmaster {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.flex-container-speedmaster img {
    width: fit-content;
    height: fit-content;
}

.background_watch {
    width: 100%;
    height: 50em;
    position: relative;
    top: 5em;
}

/* Individueel watch pages */
.flex-indi-watch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-pic-text {
    width: 60%;
    position: relative;
    top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.test-img {
    width: 30em;
    height: 20em;
}

.flex-pic-text ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
}

.Black_Balk {
    display: flex;
    align-items: center;
    width: 80%;
    height: 0.2em;
    background-color: black;
}

.BB {
    display: flex;
    justify-content: center;
    width: 200%;
    height: 0.25em;
    transform: rotate(90deg);
    background-color: black;
}

.individueel_watch_info {
    width: 50em;
    text-align: center;
}

@media screen and (max-width:600px) {

    /* Home page */
    .dress,
    .fav,
    .diver {
        flex-direction: column;
        justify-content: space-between;
    }


    .titleDress {
        order: -1;
    }

    .button_dress {
        order: 1;
    }

    .title {
        font-size: 9em;
    }

    .homeWatch {
        width: fit-content;
        left: -10em;
        top: -45em;
        height: 38em;
        opacity: 0.4;
    }

    .diver img {
        position: relative;
        left: -6em;
        top: -40em;
        height: 20em;
        height: 30em;
    }

    .diver .text {
        text-align: center;
        top: -45em;
        left: -10.5em;
    }

    .button {
        position: relative;
        left: -2em;
        top: 17em;

    }

    .diver .titleDiver {
        font-size: 3em;
        position: relative;
        top: -26em;
        left: -2.5em;
    }

    .info .white_box h1 {
        font-size: 2.5em;
    }

    /* About us phone */

    .flex-container-about-us {
        text-align: center;
        flex-direction: column;
    }

    .animate_watch {
        margin-top: 5em;
    }

    .aboutme_text {
        width: 15em;
    }

    /* Omega page */
    .watch1 {
        flex-direction: column;
        margin-top: 15em;
    }

    .watch2 {
        flex-direction: column;
        margin-top: 15em;
    }

    .watch3 {
        flex-direction: column;
    }

    .watch4 {
        flex-direction: column;
    }

    .watch5 {
        flex-direction: column;
    }

    .watch6 {
        flex-direction: column;
    }
}